
.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go


# Ignore all .vscode, .idea files in this project
.vscode/
.idea/

# Ignore config files
cmd/server/config/
cmd/server/storages/logs/
cmd/server/__debug_bin*
config/
storages/logs/
tests/
